@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f9f9f9;
  color: #333;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Update styles for dark mode */
body.dark-mode a {
  color: #fff;
}

body.dark-mode a:hover {
  color: #ccc;
}

/* Update styles for dark mode */
body.dark-mode.header {
  background-color: #444;
  border-bottom: 1px solid #555;
}

body.dark-mode.header a {
  color: #fff;
}

body.dark-mode.header a:hover {
  color: #ccc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
